*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.container{
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.header{
	background-image: url(images/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 40px;
}
.logo{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}
.logo h1{
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}
.header-content{
	text-align: center;
	font-weight:900px;
	margin-bottom: 50px;
}
.suptitle{
	color: #f9bf3b;
	font-size: 41px;
	text-transform: uppercase;
	font-weight: 900;
}
.title{
	font-size: 80px;
	color: #fff;
	font-weight: 900;
}
.title:before{
	content: "";
	width: 290px;
	height: 4px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
}
.title:after{
	content: "";
	width: 290px;
	height: 4px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
}
.subtitle{
	color: #f9bf3b;
	font-size: 41px;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 15px;
}
.header-text{
	color:#fff;
	font-size: 21px;
	font-weight: 300;
}
.bonus-link{
	font-size: 16px;
	color: #fff;
	background-color: #38b3d7;
	text-decoration: none;
	padding: 26px;
	border-radius: 5px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 1px 1px 3px  #000;
	box-shadow: 0px 0px 3px 3px #000;
}
.header-link:hover{
	background-color: #247c94;

}

.header-btn{
	text-align: center;

}
.more{
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 30px;

}
.more:after{
	background-image: url(images/down.png);
	content:"";
	width: 42px;
	height: 30px;
	position: absolute;
	background-repeat: no-repeat;
	top: 40px;
	left: 48%;
	animation: down 2s infinite 1s alternate;
}
@keyframes down{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(10px);
	}
}

.optim-title{
	color: #247c94;
	margin-bottom: 30px;
	font-size: 35px;

}
.optimization{
	padding-top: 60px;
	padding-bottom: 40px;
}
.img{
	position: relative;
}
.girl-fon{
	position: absolute;
	z-index: -1;
	top: 0;
	left: -250px;
	padding: 0;
}
.opti-content{
	margin-left: 400px;
	min-height: 470px;
}
.opti-p{
	text-align: justify;
}
.about-content{
	display: flex;
	justify-content: space-between;
}
.about-box{
	max-width: 360px;
	text-align: center;
}
.about-content{
	list-style: none;
}
.about{
	background-color: #efefef;
	padding-top: 75px;
	padding-bottom: 75px;
}
.about-text{
	text-align: center;
	font-size: 23px;
	text-align: center;
	margin-bottom: 45px;
	margin-top: 20px;
}
.about-title{
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 30px;
	position: relative;

}
.about-title:after{
	content: "";
	width: 220px;
	height: 4px;
	background-color: #f9bf3b;
	position: absolute;
	top: 55px;
	right: 40%;
}
.advenced{
	background-image: url(images/adventages-bg.png);
	background-repeat: no-repeat;
	padding-top: 70px;
	padding-bottom: 70px;
	background-size: cover;

}
.advenced-title{
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 30px;
	margin-bottom: 30px;
	position: relative;
}
.advenced-title:after{
	content: "";
	width: 220px;
	height: 4px;
	background-color: #f9bf3b;
	position: absolute;
	top: 55px;
	right: 40%;
}
.advenced-box{
	list-style: none;
	display: flex;
	justify-content: space-between;

}
.advenced-item{
	width: 200px;
	text-align: center;
}
.adv-text{
	color: #fff;
	margin-top: 20px;
}
.bonus-inner{
	text-align: center;
}
.bonus{
	padding: 80px 0;
	background-color: #efefef;
}
.bonus-text{
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.webinar{
	text-align: center;
}
.web-image{
	text-align: center;
	padding-top: 60px;

}
.web-text{
	padding-top: 20px;
	padding-bottom: 45px;
}
.h4{
	padding-top: 20px;
	top: 25px;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 400;
}
.h5{
	padding-top: 20px;
	top: 25px;
	text-transform: uppercase;
	color:#099;
	font-size: 40px;
}
.footer{
	background-color: #000;
}
.footer-p{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #857c7c;
}
.aaa{
	color: #857c7c;
}
@media (max-width: 1200px) {
	.header-title{
		font-size: 50px;
	}
	.header-suptitle{
		font-size: 31px;
	}
	.header-subtitle{
		font-size: 31px;
	}
}
@media (max-width: 990px){
	.title:before{
		display: none;
	}
	.title:after{
		display: none;
	}
	.suptitle{
		font-size: 30px;
	}
	.subtitle{
		font-size: 30px;
	}
	.title{
		font-size: 50px;
	}
	.bonus-link{
		font-size: 12px;
	}
	.header-content{
		margin-bottom: 30px;
	}
}
@media (max-width: 570px) {
	.about-title{
		font-size: 20px;
	}
	
	.about-text{
		margin-bottom: 15px;
		margin-top: 0;

		font-size: 15px;
	}
	.about-box img{
		width: 85%;
	}
	
}
@media(max-width: 490px){
	.title{
		font-size: 55px;
	}
	.subtitle{
		font-size: 20px;
	}
	.suptitle{
		font-size: 20px;
	}
	.bonus-link{
		margin-bottom: 30px;
	}
}
@media (max-width: 1200px) {
	.about-content{
		flex-direction: column;
		align-items: center;
	}
	.about-box{
		margin-bottom: 50px;
	}
	.opti-content{
		margin-left: 0;
		text-align: center;
	}
	.opti-p{
		text-align: center;
	}
	.girl-fon{
		display: none;
	}
}

@media (max-width: 890px) {
	.advenced-box {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.advenced-item{
		margin-bottom: 15px;
	}
	.advenced-title{
		margin: 0;
	}
	.advenced-title:after{
		display: none;
	}
}
@media (max-width: 800px) {
	.about-title:after{
		display: none;
	}
	.opti-p{
		text-align: left;
	}
}
@media (max-width: 777px) {
	.advenced{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.bonus{
		padding-top: 25px;
		padding-bottom: 15px;
	}
	.bonus-text{
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.bonus-inner{
		padding-bottom: 15px;
	}
	.h4{
		font-size: 20px;
		padding-top: 10px;
	}
	.h5{
		font-size: 25px;
		padding-top: 10px;
	}
	.web-image{
		padding-top: 30px;
	}
	.web-text{
		padding-top: 10px;
		padding-bottom: 30px;
	}
}
@media (max-width: 477px) {
	.aaa{
		flex-direction: column;
		align-items: center;
	}
	.bbb{
		flex-direction: column;
		align-items: center;
	}
	.ccc{
		flex-direction: column;
		align-items: center;
	}
}